.yascl {
  overflow: hidden;
}

.yascl-wrapper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
}

/* If parent and wrapper are the same, override default wrapper overflow */
.yascl.yascl-wrapper {
  overflow: hidden;
}

.yascl-wrapper > * {
  position: relative;
}
